<div class="Site-info"> 

  <div class="site-location">
  	<span><strong>{{ 'Location'|t }}: </strong></span> 
  	{{ location }} 
  </div>

  <div class="site-datetime">
  	<span><strong> {{ 'Current Time'|t }}: </strong></span> 
  	{{ datetime }} 
  </div>
  
</div>